header{
    Background-color:white;
    height: 70px;
    width:100%;
    border-bottom: 1px solid #CCCCCC;
    position: relative;
}
.logo {
    text-align: left;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
}